.container-default-wrap {
  width: 100%;
}

.container-text-container {
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  box-shadow: inset 0 2px 0 rgba(223, 135, 149, 0.33),
    -5px -4px 25px rgba(0, 0, 0, 0.3);
  /* background-color: red; */
  max-height: 270px;
}

.container-text-container:after {
  border-top-color: #ffffff;
  border-width: 10px;
  left: 65%;
  margin-left: -10px;
}

.container-text-container:before {
  border-top-color: rgba(0, 0, 0, 0.01);
  border-width: 11px;
  left: 65%;
  margin-left: -11px;
}
