.headerContainer {
  /* background-color: yellow; */
  height: 200px;
  width: 100%;
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.logo {
  /* height: 100%; */
  width: 500px;
}

@media only screen and (max-width: 450px) {
  .logo {
    padding-top: 20px;
    width: 100%;
    height: 125px;
  }
}

.carousel-block {
  /* padding: 50px; */
}
