/* html,
body {
  text-rendering: optimizeLegibility;
}
.main {
  min-height: 100%;
  color: #f1f1f1;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
}

.bgvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
  filter: grayscale(100%);
} */
