.slider-content-container {
  height: 400px;
  width: 100%;
  color: white;
}

.slider-text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-title {
  padding: 0 0 20px 0;
  margin: 0;
  font-size: 25px;
}

.slide-description {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 450px) {
  .slider-size {
    height: 250px;
    position: relative;
  }
}
