.body-default-style {
  display: flex;
  flex-direction: column;
}
.boxes-section {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box-item-container {
  padding: 0 40px 40px 40px;
  width: 320px;
}

.box-icon {
  color: #32539a;
  font-size: 30px;
}

.cite-section {
  padding: 50px 190px 0 190px;
}

.cite-container {
  width: 100%;
  display: flex;
  align-self: center;
}

@media only screen and (max-width: 759px) {
  .boxes-section {
    flex-direction: column;
    align-items: center;
  }
  .box-item-container:first-child {
    padding-top: 0px;
  }
  .box-item-container {
    padding: 0 0 40px 0;
    width: 290px;
  }

  .cite-section {
    padding: 0 40px 0 40px;
  }
}

@media only screen and (min-width: 760px) {
  .boxes-section {
    justify-content: center;
  }
}
