<p>
  Можно читать великих классиков и никогда так и не постичь в их произведениях
  главного...
  <br />
  Можно слушать Вивальди и Моцарта и жить с пустотой внутри...

  <br />
  Можно любить живопись, но не видеть прекрасного в самом простом и обычном
  вокруг... <br />
  Можно на память цитировать Гётте и черпать мудрость и глубину в каждом
  предложении, а можно умной "уместной" цитатой жестоко «убить».
  <br />
  Можно быть эталоном этикета и воспитанности, но забывать в нужный момент
  промолчать и "не заметить" чужие "культурные" ошибки.
  <br />
  Можно быть умным, начитанным и так и продолжать по привычке всю жизнь «читать
  морали» окружающим... <br />
  Можно быть кем угодно! Вот настоящим - трудно. <br />

  <br />
  Мне кажется, именно от ненастоящести, от этих бесконечных масок, намертво к
  нам прилепившихся, нам так порой сложно и не интересно жить. <br />
  А ведь если бы каждый позволил себе быть обычным, невыдающимся,
  среднестатистическим, позволил бы себе быть собой! То сколько бы прекрасных,
  глубоких, интересных, необыкновенных людей увидел этот мир... {/* <br />Я хочу
  помогать людям принимать себя такими, какими они есть, любить все свои
  «шероховатости» и несовершенства. Уверена, что от начала любви к себе
  начинается настоящая счастливая жизнь! <br />
  Над любым запросом клиента я работаю через безусловную любовь, к себе, к
  окружающим! */} {/* <br />
  Я знаю толк в воспитании детей, я умею «подружить» интересы подростков и
  родителей. */} {/* <br />
  Я работаю душой. */} {/* <br />Я работаю с душой. Помощь людям в осознании
  того, что они в силах помочь себе сами - это мой ресурс! */} {/* <br />
  Я не советую и не учу - я направляю. И я очень люблю людей и то, чем
  занимаюсь! */} {/* <br />С любовью, <br />
  Мой психолог */}
</p>
; { /* <Avatar source="{image}" /> */ }
