.blockquote-container {
  width: 100%;
}

.blockquote-text-container {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: inset 0 2px 0 rgba(223, 135, 149, 0.33),
    -5px -4px 25px rgba(0, 0, 0, 0.3);
}

.blockquote-text-container:after,
.blockquote-text-container:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.blockquote-text-container:before {
  border-top-color: rgba(0, 0, 0, 0.01);
  border-width: 11px;
  left: 65%;
  margin-left: -11px;
}

.blockquote-text-container p:before {
  content: "\201C";
  font-family: serif;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  font-size: 70px;
  top: 0px;
  left: -45px;
  color: rgba(50, 83, 154);
  text-shadow: 7px 14px 10px rgba(0, 0, 0, 0.1);
}
.blockquote-text {
  font-family: "Alegreya", serif;
  font-size: 20px;
  color: #585454;
  font-weight: 400;
  line-height: 30px;
  font-style: italic;
  text-indent: 30px;
  position: relative;
}

.mb-attribution {
  text-align: right;
  padding: 40px 130px 20px 20px;
  position: relative;
}

.blockquote-photo {
  display: block;
  width: 100px;
  height: 95px;
  background-color: orange;
  border: 5px solid #fff;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 5px;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5), 0 2px 3px rgba(0, 0, 0, 0.6);
}

.mb-author {
  font-family: "Alegreya SC", serif;
  font-weight: 700;
  font-size: 18px;
  color: rgba(188, 147, 200, 1);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

.cite a {
  font-family: "Alegreya", serif;
  font-weight: 700;
  font-style: italic;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.cite a:hover {
  color: rgba(188, 147, 200, 1);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

.blockquote-text-portrait-container {
  display: flex;
  flex-direction: row;
}

.blockquote-portrait-container {
  max-width: 320px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 250px;
}

.blockquote-text-size {
  width: 90%;
}
.blockquote-portrait {
  max-width: 320px;
  max-height: auto;
  height: 200px;
}

.blockquote-portrait-text-container {
  display: flex;
  justify-content: center;
  font-size: 10px;
}

/* @media only screen and (min-width: 760px) {
  .blockquote-portrait-container {
    display: none;
  }
} */
