.box-default-container-style {
  /* background-color: yellowgreen; */
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-bottom: 1px dotted black; */
}

.box-default-icon-style {
  font-size: 30px;
  padding-top: 10px;
}

.box-default-title-style {
  padding-top: 10px;
  word-wrap: break-word;
}

.box-default-description-style {
  word-wrap: break-word;
}
